body{
	height: 100vh;
	background-color: #f0f2f5 !important;
}
.cart{
	display: flex;
	align-items: center;
}
.around{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}
.fulllcart{
	padding: 30px 30px 50px 50px;
	background-color: white;
	width: 100%;
	max-height: 1000px;
	border-radius: 30px;
	vertical-align:baseline;
}
.fullAmount{
	color: #3a3a3a;
	font-size: 35px;
	margin-top: 38px ;
	margin-left: 10px;
}
.oneCart{
	width: 720px;
	height: 120px;
	box-shadow: 5px 5px 10px 2px #888888;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	font-family: Arial, Helvetica, sans-serif !important;	
}
.cartImg{
	width: 120px;
	border-radius: 10px;
}
.cartText{
	padding-left: 15px;
	padding-top: 10px;
}
.cartTitle{
	color:rgb(255, 162, 22) ;
	font-size: 25px !important;
}
.cartDesc{
	color: #888888;
}
.cartAmount{
	display: flex;
	flex-direction: row;
	align-items:center;
	margin-left: 80px;
}
.cartBttn {
	padding-left: unset !important;
	padding-right: unset !important;
	width: 30px !important;
}
.cartAmuntNum{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.cartBtn{
	margin-left: 10px !important;
} 
.cartTiitle{
	color:rgb(255, 162, 22) ;
	font-size: 27px !important;
	justify-content: end !important;
	display: flex;
}
.olishButton{
    background-image: linear-gradient(to right, #ed5f3b , #f8ae3b) !important;
    color: white !important;
    background-color: unset !important;
	border: 1px solid #f8ae3b !important;
}
.olishButton:focus{
    box-shadow: none !important;
}
.olishButton:active{
    background-color: unset !important;
}
.allSumma{
	display: flex;
	justify-content: space-around;
}