.rasmlar {
    margin-top: 10px;
}


.rasmlar_2 {
    margin-top: 10px;
}

.kichkina {
    height: 430px;
}



.tort {
    height: 430px;
    margin-bottom: 10px;
}

.toliq {
    height: 200px;
}

.pastga{
    margin-bottom: 20px;
}